<p id="notice"><%= notice %></p>

<h1>Zoom Users</h1>
Pro users: <%= @pro_users.count %> 
Basic users: <%= @basic_users.count %> 
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Zoom ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoom_users.each do |zoom_user| %>
      <tr>
        <td><%= zoom_user['email'] %>(<%= if zoom_user['type'].to_s == '2' then "pro" else "basic" end %> )</td>
        <td><%= zoom_user['id'] %></td>
        <td><%= zoom_user['first_name'] %></td>
        <td><%= zoom_user['last_name'] %></td>
        <td><%= button_to 'Toggle User Type', toggle_user_type_path(zoom_user_id: zoom_user['id']), method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

