<%= form_for(zoom_user_action) do |f| %>
  <% if zoom_user_action.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zoom_user_action.errors.count, "error") %> prohibited this zoom_user_action from being saved:</h2>

      <ul>
      <% zoom_user_action.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zoom_user %>
    <%= select(:zoom_user_action, :zoom_user_id, @basic_users.map {|v| [ v['first_name'] + ' ' + v['last_name'], v['id'] ] }) %>
  </div>

  <div class="field">
    <%= f.label :action_date %>
    <%= f.text_field :action_date, :id => "datepicker" %>
  </div>

  <div class="field">
    <%= f.label "Zoom Webinar ID" %>
    <%= f.text_field :zoom_webinar_id %>
  </div>

  <%= f.check_box :large_meeting %>
  <%= f.label "Large Meeting?" %>

  <%= hidden_field_tag :email_user, false %>
  <%= check_box_tag :email_user, checked = true, {checked: true} %> Email User Immediately? User will still recieve an email on the Action Date specified above.</br></br>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
