<p id="notice"><%= notice %></p>

<h1>Zoom User Actions</h1>&nbsp
Users will be promoted to pro users on the Promotion Date below for 24 hours

<table>
  <thead>
    <tr>
      <th>Zoom user</th>
      <th>Promotion Date</th>
      <th>Webinar ID</th>
      <th>Large meeting</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zoom_user_actions.each do |zoom_user_action| %>
      <tr>
        <td><%= zoom_user_action.zoom_user_name %></td>
        <td><%= zoom_user_action.action_date %></td>
        <td><%= zoom_user_action.zoom_webinar_id %></td>
        <td><%= zoom_user_action.large_meeting %></td>
        <td><%= zoom_user_action.notes %></td>
        <td><%= link_to 'Show', zoom_user_action %></td>
        <td><%= link_to 'Edit', edit_zoom_user_action_path(zoom_user_action) %></td>
        <td><%= link_to 'Destroy', zoom_user_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zoom User Action', new_zoom_user_action_path %>
