<p id="notice"><%= notice %></p>

<p>
  <strong>Zoom User Name:</strong>
  <%= @zoom_user_action.zoom_user_name %>
</p>

<p>
  <strong>Zoom User Email:</strong>
  <%= @zoom_user_action.zoom_user_email %>
</p>

<p>
  <strong>Zoom User ID:</strong>
  <%= @zoom_user_action.zoom_user_id %>
</p>

<p>
  <strong>Action date:</strong>
  <%= @zoom_user_action.action_date %>
</p>

<p>
  <strong>Zoom Webinar ID:</strong>
  <%= @zoom_user_action.zoom_webinar_id %>
</p>

<p>
  <strong>Large meeting:</strong>
  <%= @zoom_user_action.large_meeting %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @zoom_user_action.notes %>
</p>

<%= link_to 'Edit', edit_zoom_user_action_path(@zoom_user_action) %> |
<%= link_to 'Back', zoom_user_actions_path %>
