<p id="notice"><%= notice %></p>

<h1>Recurring Webinars</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Start Time</th>
      <th>Join URL</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recurring_webinars.each do |webinar| %>
      <tr>
        <td><%= webinar['topic'] %></td>
        <td><%= webinar['start_time'] %></td>
        <td><%= link_to webinar['join_url'], webinar['join_url'], :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
