<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your eXtension Zoom Event has been scheduled</h1>
    <p>
      You have successfully scheduled a meeting or webinar with eXtension for <%= @action_params[:action_date] %>.<br>
    </p>
    <p>
      If you have questions please email marklocklear@extension.org
    </p>
    <p>Thanks for using eXtension. Have a great day!</p>
  </body>
</html>