<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% if @action_params[:body][:zoom_webinar_id] %>
      <p>
        Your eXtension Zoom Webinar is today. <br>
        The Webinar URL is https://extension.zoom.us/j/<%= @action_params[:body][:zoom_webinar_id] %>.<br>
        To start this webinar please be sure to login to zoom with the user <%= @action_params[:body][:option_alternative_hosts] %>.<br>
      </p>
    <% else %>
      <p>
        Your eXtension Zoom Meeting is today.<br>
      </p>
    <% end %>
    <p>
      If you have questions please email marklocklear@extension.org
    </p>
    <p>Thanks for using eXtension. Have a great day!</p>
  </body>
</html>