<%= form_for(webinar_request) do |f| %>
  <% if webinar_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(webinar_request.errors.count, "error") %> prohibited this webinar_request from being saved:</h2>

      <ul>
      <% webinar_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :webinar_date %>
    <%= f.text_field :webinar_date %>
  </div>

  <div class="field">
    <%= f.label :webinar_time %>
    <%= f.text_field :webinar_time %>
  </div>

  <div class="field">
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </div>

  <div class="field">
    <%= f.label :topic %>
    <%= f.text_field :topic %>
  </div>

  <div class="field">
    <%= f.label :agenda %>
    <%= f.text_area :agenda %>
  </div>

  <div class="field">
    <%= f.label :panelist %>
    <%= f.text_field :panelist %>
  </div>

  <div class="field">
    <%= f.label :learn_event %>
    <%= f.text_field :learn_event %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
