<p id="notice"><%= notice %></p>

<h1>Webinar Requests</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Webinar date</th>
      <th>Webinar time</th>
      <th>Duration</th>
      <th>Topic</th>
      <th>Agenda</th>
      <th>Panelist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webinar_requests.each do |webinar_request| %>
      <tr>
        <td><%= webinar_request.name %></td>
        <td><%= webinar_request.email %></td>
        <td><%= webinar_request.webinar_date %></td>
        <td><%= webinar_request.webinar_time %></td>
        <td><%= webinar_request.duration %></td>
        <td><%= webinar_request.topic %></td>
        <td><button class="button" type="button" data-toggle="dropdown-pane-<%= webinar_request.id %>">View</button>
        <div class="dropdown-pane" id="dropdown-pane-<%= webinar_request.id %>" data-dropdown>
            <%= webinar_request.agenda %><br/></div></td>
        <td><%= webinar_request.panelist %></td>
        <td><%= link_to 'Show', webinar_request %></td>
        <td><%= link_to 'Edit', edit_webinar_request_path(webinar_request) %></td>
        <td><%= link_to 'Destroy', webinar_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Create Webinar', {controller: "webinars", :action => "create_webinar",
                                                              topic: webinar_request.topic,
                                                              start_date: webinar_request.webinar_date,
                                                              start_time: webinar_request.webinar_time},
                                                              method: :post %></td>
                                                     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webinar Request', new_webinar_request_path %>
