<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @webinar_request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @webinar_request.email %>
</p>

<p>
  <strong>Webinar date:</strong>
  <%= @webinar_request.webinar_date %>
</p>

<p>
  <strong>Webinar time:</strong>
  <%= @webinar_request.webinar_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @webinar_request.duration %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @webinar_request.topic %>
</p>

<p>
  <strong>Agenda:</strong>
  <%= @webinar_request.agenda %>
</p>

<p>
  <strong>Panelist:</strong>
  <%= @webinar_request.panelist %>
</p>

<%= link_to 'Edit', edit_webinar_request_path(@webinar_request) %> |
<%= link_to 'Back', webinar_requests_path %>
