<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "eXtension Zoom" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div id="container">
     <% if user_signed_in? && current_user.authorized? %>
      <ul class="dropdown menu" data-dropdown-menu>
        <li>
          <a href="/webinars">Webinars</a>
          <ul class="menu">
            <li><a href="/registration_webinars">Scheduled Webinars</a></li>
            <li><a href="/recurring_webinars">Recurring Webinars</a></li>
            <li><a href="/webinar_requests">Google Form Submissions </a></li>
          </ul>
        </li>
        <li><a href="/zoom_user_actions">Actions</a>
        <li><a href="/zoom_users">Users</a>
        <ul class="menu">
            <li><a href="/pro_users">Pro Users</a></li>
            <li><a href="/basic_users">Basic Users</a></li>
          </ul>
        </li>
        <li><a href='#0'>About</a></li>
    </ul>
      <span style="text-align: right">
        <div id="user_nav">
            Signed in as <%= current_user.email %>
            <%= link_to "Sign out", destroy_user_session_path %> 
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
          <% end %>
        </div>
      </span>
    </div>
      <% flash.each do |name, msg| %>
        <% if msg.is_a?(String) %>
          <%= content_tag :div, msg, class: "alert-box #{name} radius" %>
        <% end %>
      <% end %>
    <%= yield %>
  </body>
</html>
